/* style */

/* tirar bordas do site */
body{
    margin:0px;
    padding: 0px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; 
}

#bodyUserEdit{ 
  text-align: center;
  font-size: 20px;
  background-color: #0dcaf0;
}


h1{
    text-align: center;
}

#rodape{

    height: 100%;
    width: 100%;
    text-align: center;
}

/* cadastro */
#formsCadastro{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 
}
/* navbar horizontal */

/* configuraçoes */
.config{
 height: 18px;
 width: 20px;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* options dos dropdowns */
.dropdown-content a{
  float: none;
  color: black;
  padding: 18px 18px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropbtn:hover, .config:hover ,.aNavbar:hover{
    border-bottom-style: solid;
    border-bottom-color: #0aa3c2;
    border-width: 2px;
}


.dropdown-content a:hover{
    border-left-style: solid;
    border-left-color: #0aa3c2;
    border-width: 1px;
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}

#icon {
    text-align: center;
    padding-top: 1px;
    width: 95px;
    height: 16px;
}


.titulo{
  border-left: 4px solid black;
  border-radius: 2px solid black;
  font-size: 22px;
  text-decoration: none;
  float: left;
  padding-left: 1%;
  margin-top: 2%;
  margin-left: 20%;
}

.edit{
  text-decoration: none;
  float: left;
  position: fixed;
  color: black;
  margin-top: 42%;
}

.mainAluno{
  margin-top: 30%;
}
/* Sidebar */

.sidebar {
  text-align: center;
  height: 100%;
  width: 19%;
  position: fixed; 
  z-index: 1; 
  background-color: #1a1a1a;
  overflow-x: hidden; 
  transition: 0.5s; 
  margin: 0px;
  padding-top: 80px;
  overflow: hidden;
  padding-left: 0px;
  box-shadow:0px 5px 20px grey;
  overflow: hidden;


}

.linkTurmas{
  
  padding: 15px;
  text-decoration: none;
  color: orangered;
  color: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,63,38,1) 84%, rgba(253,126,55,1) 94%, rgba(253,143,60,1) 97%, rgba(252,176,69,1) 100%);

}

.linkTurmas:hover{
  color: orangered;
  color: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,63,38,1) 84%, rgba(253,126,55,1) 94%, rgba(253,143,60,1) 97%, rgba(252,176,69,1) 100%);
  font-weight: bold;
}

.linkUsers{
  
  padding: 1px;
  font-size: 15px;
  text-decoration: none;
  color: rgb(158, 196, 5);
  color: radial-gradient(circle, rgba(206,255,0,1) 0%, rgba(188,248,9,1) 44%, rgba(147,232,29,1) 63%, rgba(146,232,30,1) 64%, rgba(122,222,42,1) 86%, rgba(94,211,55,1) 94%, rgba(45,192,79,1) 100%, rgba(18,100,39,1) 100%);

}

.linkUsers:hover{
  color: green;
  font-weight: bold;
}

.linkDisciplinas{
  
  padding: 7px;
  font-size: 15px;
  text-decoration: none;
  color: blue;
  color: radial-gradient(circle, rgba(206,255,0,1) 0%, rgba(188,248,9,1) 44%, rgba(147,232,29,1) 63%, rgba(146,232,30,1) 64%, rgba(122,222,42,1) 86%, rgba(94,211,55,1) 94%, rgba(45,192,79,1) 100%, rgba(18,100,39,1) 100%);

}

.linkDisciplinas:hover{
  color: blue;
  font-weight: bold;
}

.linkAcervo{
  
  padding: 1px;
  font-size: 15px;
  text-decoration: none;
  color: royalblue;

}

.linkAcervo:hover{
  color: royalblue;
  font-weight: bold;
}

.border-gradient {
  box-shadow: 4px 9px 7px rgb(206, 206, 206);
  margin-top: 3%;
  margin-left: 290px;
  position: fixed;
  float: left;
  border-radius: 10px;
  padding-top: 5px;
  width: 293px;
  height: 449px;
  background: rgb(131,58,180);
  background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,63,38,1) 84%, rgba(253,126,55,1) 94%, rgba(253,143,60,1) 97%, rgba(252,176,69,1) 100%);
}


.border-gradient2 {
  box-shadow: 4px 9px 7px rgb(206, 206, 206);
  margin-top: 3%;
  margin-left: 593px;
  position: fixed;
  border-radius: 10px;
  padding-top: 5px;
  width: 293px;
  height: 449px;
  background: rgb(206,255,0);
  background: radial-gradient(circle, rgba(206,255,0,1) 0%, rgba(188,248,9,1) 44%, rgba(147,232,29,1) 63%, rgba(146,232,30,1) 64%, rgba(122,222,42,1) 86%, rgba(94,211,55,1) 94%, rgba(45,192,79,1) 100%, rgba(18,100,39,1) 100%);
}

.border-gradient3 {
  box-shadow: 4px 9px 7px rgb(206, 206, 206);
  margin-top: 3%;
  margin-left: 893px;
  position: fixed;
  border-radius: 10px;
  padding-top: 5px;
  width: 293px;
  height: 449px;
  background: rgb(9,231,240);
  background: radial-gradient(circle, rgba(9,231,240,1) 0%, rgba(0,179,255,1) 60%, rgba(0,124,255,1) 80%, rgba(0,118,255,1) 85%, rgba(0,113,255,1) 91%, rgba(0,99,255,1) 97%, rgba(0,82,255,1) 99%, rgba(0,65,255,1) 100%);
}

.border-gradient4 {
  box-shadow: 4px 9px 7px rgb(206, 206, 206);
  margin-top: 3%;
  margin-left: 1197px;
  position: fixed;
  float: left;
  border-radius: 10px;
  padding-top: 5px;
  width: 293px;
  height: 449px;
  background: rgb(83,9,240);
background: radial-gradient(circle, rgba(83,9,240,1) 67%, rgba(99,6,245,1) 82%, rgba(108,4,248,1) 92%, rgba(114,3,250,1) 96%, rgba(121,2,253,1) 99%, rgba(128,0,255,1) 100%);
}


/* Letras de dentro da sidebar */
.aSidebar {
  text-align: left;
  padding-top: 20px;
  top: 0;
  text-decoration: none;
  font-size: 20px;
  color: rgb(192, 189, 189);
  display: block;
  transition: .5s;
  white-space: nowrap;
  
  
}
.sidebar a:hover {
  color: #f1f1f1;
}
  
  
}
.sidebar a:hover {
  color: #f1f1f1;
}




.openbtn:hover, #icon:hover{
    background-color: #0aa3c2;
}

/* Diminuir fonte da side bar dependente da altura */
@media screen and (max-height: 450px) {
 
  .sidebar a {font-size: 18px;}
}  

/* foto sidebar */

.imgPerfil{
 padding-top: 10px;
 align-content: center;
 width: 180px;
 height: 220px;
 margin: 10px 35px 10px 35px;
 
}

.mudarSenha{
 text-decoration: none;
  color: blue;
  float: left;
  text-align: center;
  margin-left: 30%;
  position: fixed;
  margin-top: 250px;
  white-space: nowrap;
  
}

/* button logout */

.logout{
  text-decoration: none;
  padding: 10px;
  
}








 





